langchain
langchain-core~=1.2.19
langchain-community~=0.4.1
openai
langchain-openai
mistralai
langchain-mistralai
chromadb
tiktoken
sentence-transformers
pypdf
python-docx
unstructured
beautifulsoup4
numpy
pandas
python-dotenv~=1.2.2
streamlit
faiss-cpu
requests
rich
click~=8.3.1
dotenv~=0.9.9
langchain-text-splitters~=1.1.1